img{
    width: 100%;
}
.kartya{
    width: 300px;
    border: 1px solid grey;
    text-align: center;
}
.tarolo{
    display: flex;
    flex-wrap: wrap;
}
.kedvenc{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}
